#workout-root
  %div{'is': 'workout', ':workout': 'workout'}
  .controls
    %button.btn.btn-default{'@click': 'showAddExerciseModal'} Add Exercise
  - footer = capture do
    %button.btn.btn-primary{data: {dismiss: 'modal'}, '@click': 'addExercise'} Add Exercise
  = render partial: 'shared/enter_name_modal', layout: 'shared/modal', locals: {title: 'Add Exercise', footer: footer, modal_id: 'enter-name-modal'}


%script#workout-template{type: 'text/x-template'}
  .workout{':class': '"workout-" + workout.id', ':id': '"workout-" + workout.id'}
    %h2
      {{ workout.split_name }}
      %small {{ workout.workout_date }}
    %p.notes
      {{ workout.notes }}
    .exercises
      %div{'is': 'exercise', 'v-for': 'exercise in workout.exercises', ':exercise': 'exercise'}

%script#exercise-template{type: 'text/x-template'}
  .panel.panel-default.exercise{':id': '"exercise-" + exercise.id'}
    .panel-heading
      %h5.panel-title {{ exercise.name }}
      .dropdown.pull-right
        %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
          Actions
          %span.glyphicon.glyphicon-plus
        %ul.dropdown-menu
          %li
            %a.destroy{href: '#', '@click': '$emit("my.destroy.exercise",exercise)'}
              Delete
              %span.glyphicon.glyphicon-remove

    .panel-body
      %p {{ exercise.notes }}
      %ul.list-group
        %li{'is': 'exercise-set', 'v-for': 'set in exercise.exercise_sets', ':eset': 'set'}

%script#eset-template{type: 'text/x-template'}
  %li.list-group-item.exercise-set{':id': '"exercise-set-" + eset.id'}
    %p
      %span.weight_x{'v-show': 'isWeighted'}
        {{ eset.weight }} &times;
      {{ eset.reps }}
      %span.glyphicon{':class': '{"glyphicon-ok": isSuccess, "glyphicon-remove": !isSuccess}'}

- content_for :scripts do
  :coffee
    $ () ->
      doMyInit("#{workout_path(@workout)}")



-# content_for :resources do
-#  - footer = capture do
-#    %button.btn.btn-primary{data: {}, '@click': 'addExerciseClicked'} Add Exercise
-#  = render partial: 'shared/enter_name_modal', layout: 'shared/modal', locals: {title: 'Add Exercise', footer: footer, modal_id: 'enter-name-modal'}
