.modal.fade(role='dialog'){id: (defined?(modal_id) && modal_id) || 'modal'}
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h4.modal-title= (defined?(title) && title) || nil
      .modal-body
        = yield
      .modal-footer
        %button.btn.btn-default{data: {dismiss: 'modal'}} Cancel
        = (defined?(footer) && footer) || nil
