%script#modal-template{type: 'text/x-template'}
  .modal.fade(role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
          %h4.modal-title {{ title }}
        .modal-body
          %slot
        .modal-footer
          %slot{name: 'footer'}

- content_for :scripts do
  :coffee
    Vue.component('modal-dialog', {
      template: '#modal-template'
      props: ['title']
      methods: {
        show: () ->
          $(this.$el).modal('show')
        hide: () ->
          $(this.$el).modal('hide')
        toggle: () ->
          $(this.$el).modal('toggle')
      }
      mounted: () ->
        Vue.nextTick () =>
          modal = $(this.$el)
          self = this
          modal.on 'show.bs.modal', (event) ->
            console.log("show.bs.modal: ", event)
            self.$emit('show', this, event, self)

    })
